.header__item {
  padding: .75rem;
  padding-right: 31px;
  max-width: 33.333%;
  width: 33.333%;
  box-sizing: border-box;
}

.header__item:last-of-type {
  text-align: right;
}

@media screen and (max-width: 576px) {
  .header__item {
    padding-top: 0;
    max-width: 100%;
    width: auto;
  }
}