.header__item {
  padding: .75rem;
  padding-right: 31px;
  max-width: 33.333%;
  width: 33.333%;
  box-sizing: border-box;
}
.header__item:first-child {
  text-align: center;
  min-width: 740px;
}

.header__item:last-of-type {
  text-align: right;
}

@media screen and (max-width: 1439px) {
  .header__item {
    width: 100%;
    max-width: 100%;;
    padding-left: 31px;
    padding-right: 31px;
    padding-top: 24px;
  }
  .header__item:first-child {
    min-width: auto;
  }
  .header__item:last-of-type {
    /* display: none;   */
    position: absolute;
    right: 0;
    bottom: 0;
  }
  .header__content:before {
    content: none;
  }
}
@media screen and (max-width: 576px) {
  .header__item {
    /* padding-top: 0; */
    max-width: 100%;
  }
  .header__item:last-of-type {
    display: none;  
  }
  .header__item:first-child {
    padding-top: 22px;
    padding-bottom: 7px;
    padding-left: 23px;
  }
}
