@import url(../gallery/__column/gallery__column.css);
@import url(../gallery/__item/gallery__item.css);
@import url(../gallery/__image/gallery__image.css);

.gallery {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}