.project__foot {
  padding: 0 2rem 3rem;
  text-align: center;
}
.project__foot .project__btn {
  border: transparent;
}
@media screen and (max-width: 576px) {
  .project__foot {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 0;
  }
}