.footer__item {
  /* padding: 0 .25rem; */
  padding: 2px 30px;
  /* margin: 1.5rem 0; */
}
.footer__copy {
  padding: 30px 30px 0;
  margin-top: 210px;
}
@media screen and (max-width: 991px) {
  .footer__item {
    /* padding: 0;
    margin-top: 1rem;
    margin-bottom: 1rem; */
  }
}
@media screen and (max-width: 576px) {
  .footer__item {
    padding: 0 16px 3px;
    font-size: 13px;
  }
  .footer__copy {
    padding: 0 15px;
    margin-top: 72px;
  }
}