.footer__item {
  /* padding: 0 .25rem; */
  padding: 0 30px;
  /* margin: 1.5rem 0; */
}
.footer__copy {
  padding: 30px 30px 0;
  margin-top: 105px;
}
@media screen and (max-width: 991px) {
  .footer__item {
    /* padding: 0;
    margin-top: 1rem;
    margin-bottom: 1rem; */
  }
}
@media screen and (max-width: 576px) {
  .footer__item {
    padding: 0 15px;
  }
  .footer__copy {
    padding: 0px 15px 0;
    margin-top: 36px;
  }
}