.project__desc {
  max-width: 50%;
  padding: 41px 30px 249px;
}
.project__center-txt {
  text-transform: uppercase;
  text-align: center;
  padding: 6px 24px 36px;
}
.project__center-txt--mob {
  display: none;
}
@media screen and (max-width: 991px) {

}

@media screen and (max-width: 576px) {
  .project__center-txt {
    padding: 5px 15px;
  }
  .project__picture-about--desctop {
    display: none;
  }
  .project__center-txt--mob {
    display: block;
    padding: 5px 15px;
    font-size: 10px;
    line-height: 12px;
    text-transform: uppercase;
  }
  .project__desc {
    padding: 17px 15px 137px;
    max-width: 100%;
  }
}
