.modal__item {
  max-width: 65%;
  margin-bottom: 97px;
}
.modal__item+.modal__item {
  margin-top: 3rem;
  margin-bottom: 0;
}

@media screen and (max-width: 576px) {
  .modal__item {
    max-width: 100%;
    margin-bottom: 18px;
  }
  .modal__item+.modal__item {
    margin-top: 10px;
    margin-bottom: 0;
  }
}