.header__title {
  padding: 35px 35px 0px;
  white-space: nowrap;
  font-size: 13.2vw;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 4.5rem;
  font-weight: 500;
  transition: font-size .5s ease;
}

@media screen and (max-width: 576px) {
  .header__title {
    margin-bottom: .5rem;
  }
}