.modal__head {
  /* padding: 1.5rem 2rem; */
  padding: 15px 26px 20px;
  color: #737378;
  background-color: #000;
  /* width: 100%;
  width: calc(100% - 10px); */
  margin: 5px 5px 0;
}
@media screen and (max-width: 576px) {
  .modal__head {
    padding: 5px 10px 25px;
  }
}