.project__btn {
  display: inline-block;
  vertical-align: top;
  padding: 16px;
  margin-bottom: 31px;
  background-color: transparent;
  color: #000;
  border: 1px solid #000;
  /* border-radius: 35px; */
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color .3s ease, color .3s ease;
  box-sizing: border-box;
  outline: none;
  width: 100%;
}

.project__btn:hover,
.project__btn:focus,
.project__btn:active {
  /* color: #fff;
  background-color: #000; */
  background: #87878C;
}
.project__btn--active {
  padding: 7px;
}
@media screen and (max-width: 576px) {
  .project__btn {
    padding: 11px 7px 7px;
    margin-bottom: 0;
  }
}
