@import url(../footer/__items/footer__items.css);
@import url(../footer/__item/footer__item.css);
@import url(../footer/__span/footer__span.css);


.footer {
  padding: 3rem 0 5rem;
  padding-top: 40vh;
  font-size: 24px;
}

@media screen and (max-width: 1920px) {
  .footer {
    font-size: 20px;
  }
}

@media screen and (max-width: 1024px) {
  .footer {
    font-size: 14px;
    padding-bottom: 4rem;
  }
}

@media screen and (max-width: 576px) {
  .footer {
    font-size: 12px;
  }
}