@import url(../header/__top/header__top.css);
@import url(../header/__title/header__title.css);
@import url(../header/__content/header__content.css);
@import url(../header/__item/header__item.css);
@import url(../header/__info/header__info.css);
@import url(../header/__scroll/header__scroll.css);

.header {
  background-image: url(../../images/header.jpg);
  background-color: #000;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100vh;
  min-height: 300px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (max-width: 576px) {
.header {
    height: calc(100vh - 55px);
    background-attachment: unset;
  }
}