@import url(./vendor/normalize.css);
@import url(./vendor/fonts.css);
@import url(./css/preloader/preloader.css);
@import url(./css/link/link.css);
@import url(./css/modal/modal.css);
@import url(./css/btn-modal/btn-modal.css);
@import url(./css/gallery/gallery.css);
@import url(./css/header/header.css);
@import url(./css/project/project.css);
@import url(./css/footer/footer.css);


.root {
  background-color: #737378;
  font-family: 'Cie Sans Book', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #000;
  line-height: 1.2;
  font-size: 36px;
}

@media screen and (max-width: 1920px) {
  .root {
    font-size: 22px;
  }
}

@media screen and (max-width: 1024px) {
  .root {
    font-size: 14px;
  }
}
body {
  background: #737378;
}