.modal__title {
  line-height: 1.2;
  font-size: 36px;
  margin: 0;
  font-weight: 500;
}

@media screen and (max-width: 1920px) {
  .modal__title {
    font-size: 22px;
  }
}

@media screen and (max-width: 1024px) {
  .modal__title {
    font-size: 14px;
  }
}